* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 600px;
    min-height: 200px;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid #ccc;
    overflow: hidden;
}

.title {
    color: #e14050;
}

hr {
    color: #ccc;
    width: 107%;
    margin-left: -18px;
    margin-top: 5px;
}

.news {
    margin-top: 10px;
}

.news + .news {
    border-top: 1px solid #ccc;
    margin-top: 20px;
    padding-top: 10px;
}

.subtitle {
    font-size: 18px;
    color: #444;
}

.caption {
    display: flex;
    margin-top: 8px;
    font-size: 14px;
}

.caption__time {
    color: #9c9b9b;
}

.caption__comment {
    margin-left: 20px;
    color: #c3182b;
}

.caption__location {
    padding: 5px;
    margin: -5px -5px -5px 20px;
    color: #9c9b9a;
    background-color: #f6f6f6;
}